<div class="row">
    <div class="col-6">

        <p-card header="Two Different Types of Books
        " subheader="Nonfiction Books" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/image/genresreading.jpg">
            </ng-template>
            <p>Fiction books contain a story that the author made up, such as romance or children's books. The most commonly read works are works of fiction. Perhaps some of their elements are based on hints of truth, but they have been elaborated, fabricated,
                and used to embellish into a new story</p>
            <ng-template pTemplate="footer">
                <div class="car-buttons p-mt-5">
                    <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                    <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                    <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="col-6">

        <p-card header="Trust us, this is interesting.

        " subheader="The Ultimate Book Genres List to Help Pick Your Next Page-Turner" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/image/book.jpg">
            </ng-template>
            <p>When it comes to a selecting a great book, we don't discriminate here at OprahMag.com. From an essential fall best-seller, to novels by Latinx authors, and every single read on Oprah's Book Club list, our approach to finding a riveting page-turner
                is to have an open mind.</p>
            <ng-template pTemplate="footer">
                <div class="car-buttons p-mt-5">
                    <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                    <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                    <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>