<p-dialog [(visible)]="display">
    <ng-template pTemplate="header">
        Edit Type book </ng-template>
    <form>
        <div class="form group">

            <label for="typename"> Type Name</label>

            <input id="typename" type="text" pInputText [(ngModel)]="type.name" name="name">
        </div>

        <div class="form group">

            <label for="typedetails"> Details </label>

            <input id="bookauthor" type="text" pInputText [(ngModel)]="type.details" name="details">


        </div>
    </form>

    <p-footer>
        <p-button icon="pi pi-check" (click)="edittypeInfo(type)" label="save" class="ui-button-success"></p-button>
        <p-button icon="pi pi-close" (click)="display=false" label="cancel" Class="ui-button-danger"></p-button>

    </p-footer>
</p-dialog>